
<p id="Lat">
	<%= @get_user.latitude %>
</p>
<p id="Long">
	<%= @get_user.longitude %>
</p>
<div>
	<p>
		<%= @icons %>
	parts
	</p>
</div>
	<%= #@icons.times do |x| %>

<div class ="address"><%= @list[2] %> </div>
<%= #end %>

<div id="map"></div>
<p>This is the where page</p>